
body { 

    font-family: Arial, sans-serif; 

    color: #1a1a1a; 

    background-color: #eef4ff; 

    margin: 0; 

    padding: 0; 

    line-height: 1.6; 

} 

header { 

    background-color: #1e3a8a; 

    color: white; 

    padding: 20px; 

    text-align: center; 

} 

header h1 { 

    margin: 0; 

} 

nav a { 

    color: #dbeafe; 

    text-decoration: none; 

    margin: 0 10px; 

    font-weight: bold; 

} 

nav a:hover { 

    text-decoration: underline; 

    color: #93c5fd; 

} 

main { 

    padding: 20px; 

    max-width: 800px; 

    margin: 30px auto; 

    background-color: white; 

    border-radius: 8px; 

    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 

} 

main img { 

    max-width: 100%; 

    height: auto; 

    display: block; 

    margin: 20px auto; 

} 

footer { 

    background-color: #1e3a8a; 

    color: white; 

    text-align: center; 

    padding: 10px; 

    position: fixed; 

    bottom: 0; 

    width: 100%; 

} 

p { 

    font-size: 1.1em; 

} 

a { 

    color: #2563eb; 

    text-decoration: none; 

} 

a:hover { 

    text-decoration: underline; 

} 

img { 

    border: 4px solid #2563eb; 

    border-radius: 10px; 

} 

main a[href^="mailto:"] { 

    color: #4169E1 ; 

    font-weight: bold; 

} 
